version: '3.8'

services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER:     ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB:       ${POSTGRES_DB:-myHouse}
    ports:
      - "5432:5432"     

  web:
    build: .
    ports:
      - "5000:5000"
    environment:
      DATABASE_URL:   ${DATABASE_URL}
      JWT_SECRET_KEY: ${JWT_SECRET_KEY}
    depends_on:
      - db