apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: myhouse-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: myhouse-api          
  minReplicas: 2
  maxReplicas: 8                
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 65    # scale up si CPU moyen > 65 %